@charset "UTF-8";
.table_category_container {
  margin: 0px 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b5b5;
}
@media screen and (min-width: 1940px) {
  .table_category_container {
    margin: 0px auto;
    max-width: 1820px;
  }
}
@media screen and (max-width: 1170px) {
  .table_category_container {
    margin: 0px 30px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container {
    margin: 0px 16px;
  }
}
@media screen and (min-width: 1940px) {
  .table_category_container {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1170px) {
  .table_category_container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container {
    margin-top: 20px;
    margin-bottom: 20px;
    order: 2;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.table_category_container .table_category_container_breadcrumbs {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px 24px;
  border-bottom: 1px solid #b5b5b5;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs {
    padding: 10px 16px;
  }
}
.table_category_container .table_category_container_breadcrumbs li {
  padding-right: 30px;
  display: inline-block;
  position: relative;
  line-height: 100%;
  font-weight: 400;
  line-height: 140% !important;
  color: #212322;
  font-size: 16px;
}
@media screen and (max-width: 1366px) {
  .table_category_container .table_category_container_breadcrumbs li {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .table_category_container .table_category_container_breadcrumbs li {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs li {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .table_category_container .table_category_container_breadcrumbs li {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .table_category_container .table_category_container_breadcrumbs li {
    font-size: 10px;
  }
}
.table_category_container .table_category_container_breadcrumbs li:last-of-type {
  color: #ffcd00;
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs li {
    padding-right: 15px;
  }
}
.table_category_container .table_category_container_breadcrumbs li::after {
  font-weight: 400;
  line-height: 140% !important;
  color: #212322;
  font-size: 16px;
  content: "/";
  position: absolute;
  top: 0px;
  right: 10px;
}
@media screen and (max-width: 1366px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    right: 5px;
    top: 0px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .table_category_container_breadcrumbs li::after {
    top: 3px;
  }
}
.table_category_container .table_category_container_breadcrumbs li:last-of-type::after {
  content: "";
  display: none;
}
.table_category_container .table_category_container_breadcrumbs a,
.table_category_container .table_category_container_breadcrumbs p {
  font-weight: 400;
  line-height: 140% !important;
  color: #212322;
  font-size: 16px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
@media screen and (max-width: 1366px) {
  .table_category_container .table_category_container_breadcrumbs a,
  .table_category_container .table_category_container_breadcrumbs p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .table_category_container .table_category_container_breadcrumbs a,
  .table_category_container .table_category_container_breadcrumbs p {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container .table_category_container_breadcrumbs a,
  .table_category_container .table_category_container_breadcrumbs p {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  .table_category_container .table_category_container_breadcrumbs a,
  .table_category_container .table_category_container_breadcrumbs p {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .table_category_container .table_category_container_breadcrumbs a,
  .table_category_container .table_category_container_breadcrumbs p {
    font-size: 10px;
  }
}
.table_category_container .table_category_container_breadcrumbs a {
  transition: all 0.3s ease-in-out;
}
.table_category_container .table_category_container_breadcrumbs a:hover {
  color: #5c6735;
}
.table_category_container .product_table_container {
  max-width: 1600px;
  width: 100%;
  padding-bottom: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 1700px) {
  .table_category_container .product_table_container {
    padding-bottom: 0px;
  }
}
.table_category_container .product_table_container h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin: 0;
  padding: 15px 24px;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .table_category_container .product_table_container h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .table_category_container .product_table_container h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1400px) {
  .table_category_container .product_table_container h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1100px) {
  .table_category_container .product_table_container h1 {
    font-size: 33px;
  }
}
@media screen and (max-width: 992px) {
  .table_category_container .product_table_container h1 {
    padding: 10px 16px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .product_table_container h1 {
    font-size: 31px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .product_table_container h1 {
    font-size: 29px;
    text-align: left;
  }
}
.table_category_container .product_table_container .product_table_container_table_header_desktop {
  display: block;
}
@media screen and (max-width: 700px) {
  .table_category_container .product_table_container .product_table_container_table_header_desktop {
    display: none;
  }
}
.table_category_container .product_table_container .product_table_container_table_header_mobile {
  display: none;
}
@media screen and (max-width: 700px) {
  .table_category_container .product_table_container .product_table_container_table_header_mobile {
    display: block;
  }
}
.table_category_container .product_table_container .product_table_container_table_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container .product_table_container_table_buttons {
    flex-direction: column-reverse;
    row-gap: 5px;
  }
}
.table_category_container .product_table_container .plusmin {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cfcfcf;
  border-radius: 50%;
  color: #a29898;
  display: inline-block;
  font-size: 20px;
  height: 26px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 26px;
}
.table_category_container .product_table_container .popup-stuff__count-value {
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: #7f7676;
  display: inline-block;
  font-size: 20px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  width: 56px;
  margin: 0px 8px;
  transition: all 0.3s ease-in-out;
}
.table_category_container .product_table_container .popup-stuff__count-value:focus-visible {
  outline: 2px solid #ffcd00;
}
@media screen and (max-width: 700px) {
  .table_category_container .product_table_container .popup-stuff__count-value {
    margin: 0px 5px;
    width: 36px;
  }
}
.table_category_container .product_table_container .select_tb {
  -moz-appearance: none;
  background-color: #fff;
  background-position: calc(100% - 12px) 50%;
  background-repeat: no-repeat;
  border: 1px solid #d3d3d3;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: 40px;
  margin: 0 auto;
  max-width: 78px;
  min-width: 50px;
  outline: medium none;
  padding: 0.375rem 0.5rem;
  text-align: center;
  transition: border-color 0.25s ease 0s, color 0.25s ease 0s, opacity 0.25s ease 0s;
  width: 100%;
}
.table_category_container .product_table_container .tb {
  width: 100%;
}
.table_category_container .product_table_container .tb tr td {
  border: 1px solid #ececec;
}
.table_category_container .product_table_container .tb td {
  padding: 10px;
}
@media screen and (max-width: 375px) {
  .table_category_container .product_table_container .tb td {
    padding: 10px 5px;
  }
}
.table_category_container .product_table_container .cart_add {
  display: none;
}
.table_category_container .product_table_container .btn {
  background: #a8a8a8 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  transition: all 0.2s linear 0s;
  border-radius: 4px;
  padding: 6px 12px;
}
.table_category_container .product_table_container .btn:hover {
  background: #5c6735;
  color: #fff;
}
.table_category_container .product_table_container .table_name {
  color: #212322;
}
.table_category_container .product_table_container .price-all {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #212322;
}
@media screen and (max-width: 1366px) {
  .table_category_container .product_table_container .price-all {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .table_category_container .product_table_container .price-all {
    font-size: 17px;
  }
}
@media (max-width: 576px) {
  .table_category_container .product_table_container .price-all {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .table_category_container .product_table_container .price-all {
    font-size: 15px;
  }
}
.table_category_container .product_table_container .table_buttons_row {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  margin-left: 15px;
}
@media screen and (max-width: 992px) {
  .table_category_container .product_table_container .table_buttons_row {
    margin-left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container .table_buttons_row {
    flex-direction: column;
    row-gap: 5px;
    width: 13vw;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .product_table_container .table_buttons_row {
    width: 15vw;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .product_table_container .table_buttons_row {
    width: 17vw;
  }
}
.table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn {
  padding: 5px 5px;
  width: 100px;
  background-color: #5c6735;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 14px;
  border: none;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn:hover {
  background-color: rgb(57, 67, 20);
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn {
    width: 100%;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn {
    font-size: 11px;
  }
}
@media screen and (max-width: 400px) {
  .table_category_container .product_table_container .table_buttons_row .table_buttons_row_btn {
    font-size: 10px;
  }
}
.table_category_container .product_table_container .table_buttons_row .table_buttons_row_basket_active {
  background-color: #2d3514;
  color: #ffcd00;
  transition: all 0.3s ease-in-out;
}
.table_category_container .product_table_container .table_buttons_row .table_buttons_row_basket_active:hover {
  color: white;
}
.table_category_container .product_table_container .table_buttons_row .product_info_isAvailable {
  padding: 5px 10px;
  line-height: 1;
  background-color: transparent;
  outline: 1px solid #5c6735;
  font-weight: normal;
  color: #5c6735;
  height: 30px;
  white-space: normal;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container .table_buttons_row .product_info_isAvailable {
    width: 100%;
    height: 35px;
  }
}
.table_category_container .product_table_container .table_buttons_row .product_info_isAvailable:hover {
  background-color: transparent;
  outline: 3px solid #5c6735;
}
.table_category_container .product_table_container .table_buttons_row .results_item_content_info_wishList {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  content: "";
  border: none;
  background-color: #5c6735;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.table_category_container .product_table_container .table_buttons_row .results_item_content_info_wishList:hover {
  background-color: rgb(57, 67, 20);
}
@media screen and (max-width: 768px) {
  .table_category_container .product_table_container .table_buttons_row .results_item_content_info_wishList {
    width: 100%;
  }
}
.table_category_container .product_table_container .table_buttons_row .results_item_content_info_wishList .results_item_content_info_wishList_icon {
  width: 14px;
  height: 14px;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-mask: url(../icon/вибране.svg);
          mask: url(../icon/вибране.svg);
  content: "";
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table_category_container .product_table_container .table_buttons_row .results_item_content_info_wishList .results_item_content_info_wishList_icon_active {
  background-color: #ff0000;
  z-index: 1;
}
.table_category_container .sub_category_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
@media screen and (max-width: 992px) {
  .table_category_container .sub_category_row {
    padding: 15px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .sub_category_row {
    padding: 10px;
  }
}
.table_category_container .sub_category_row h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1400px) {
  .table_category_container .sub_category_row h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .table_category_container .sub_category_row h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .sub_category_row h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1400px) {
  .table_category_container .sub_category_row h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1100px) {
  .table_category_container .sub_category_row h1 {
    font-size: 33px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .sub_category_row h1 {
    font-size: 31px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .sub_category_row h1 {
    font-size: 29px;
  }
}
.table_category_container .sub_category_row .sub_category_row_results {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-auto-rows: minmax(min-content, max-content);
  -moz-column-gap: 1%;
       column-gap: 1%;
  row-gap: 20px;
  justify-content: space-between;
  padding: 0px 4vw;
}
@media screen and (max-width: 1400px) {
  .table_category_container .sub_category_row .sub_category_row_results {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .table_category_container .sub_category_row .sub_category_row_results {
    grid-gap: 10px;
    grid-template-columns: repeat(3, 32%);
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .sub_category_row .sub_category_row_results {
    grid-template-columns: repeat(2, 49%);
    padding: 0px 10px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .sub_category_row .sub_category_row_results {
    grid-template-columns: repeat(2, 48.5%);
  }
}
.table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item {
    border: 1px solid #b5b5b5;
    padding: 10px 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image img {
    max-width: 100%;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 210px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image img {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) and (max-width: 576px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image img {
    max-width: 100%;
    max-height: 140px;
  }
}
@media screen and (max-width: 768px) and (max-width: 450px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image img {
    max-height: 120px;
  }
}
@media screen and (max-width: 768px) and (max-width: 375px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_image img {
    max-height: 100px;
  }
}
.table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
  position: relative;
  padding-top: 10px;
  font-weight: 600;
  font-size: 23px;
  line-height: 140%;
  color: #212322;
  letter-spacing: 1px;
  color: #5c6735;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 450px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 19px;
  }
}
@media screen and (max-width: 576px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  .table_category_container .sub_category_row .sub_category_row_results .sub_category_row_results_item .sub_category_row_results_item_name {
    word-wrap: break-word;
  }
}